@use '../cep';

@include cep.comp('icon') {
  position: relative;
  width: 14px;
  height: 16px;

  display: inline-flex;

  @include cep.prop(
    (
      'size': 'large',
    )
  ) {
    width: 32px;
    height: 32px;
  }
}
