name: publish

on:
  push:
    paths:
      - 'package.json'
      - 'packages/*/package.json'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install pnpm
        run: npm add -g pnpm
      - name: Install dependencies
        run: pnpm -r i
      - name: Build
        run: pnpm -r run prepare
      - name: Publish
        run: pnpm -r publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_author_token}}
