name: unit-test

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Install pnpm
        run: npm add -g pnpm
      - name: Install dependencies
        run: pnpm -r i
      - name: Test
        run: pnpm -r --workspace-concurrency=1 test
      - name: Build
        run: pnpm -r --workspace-concurrency=1 run prepare
